meta {
    -theme-display-name: "Xcode Dark";
    -theme-interface-style: dark;
    -theme-vibrancy: vibrant;
    -theme-accent-color: auto;
}


/*
 * Window styles
 */
meta.window {
    border-color: hsla(0, 0%, 100%, 0.1);
}
meta.titlebar {
    color: hsl(240, 19%, 78%);
    border-color: hsla(0, 0%, 0%, 0.6);
}
meta.titlebar.inactive {
}

meta.button {
    background: linear-gradient(hsl(240, 7%, 34%), hsl(240, 7%, 27%));
    border: linear-gradient(hsl(240, 7%, 19%), hsl(240, 7%, 15%));
    color: white;
}
meta.button.highlighted {
    background: linear-gradient(hsl(240, 7%, 44%), hsl(240, 7%, 44%));
    color: white;
}
meta.button.selected {
    color: white;
}
meta.button.highlighted.selected {
    color: white;
}
meta.button.disabled {
    
}

meta.textfield {
    background-color: hsl(240, 7%, 15%);
    border-color: hsl(240, 7%, 24%);
}
meta.textfield.highlighted {
    background-color: hsl(240, 7%, 12%);
    border-color: hsl(240, 7%, 24%);
}

/*
 * Document styles
 */
meta.document {
    background-color: hsl(240, 7%, 13%);
    border-color: hsla(0, 0%, 100%, 0.1);
}

meta.document.button {
    background: linear-gradient(hsl(240, 7%, 27%), hsl(240, 7%, 23%));
    border: linear-gradient(hsl(240, 7%, 13%), hsl(240, 7%, 5%));
}
meta.document.button.disabled {
    background: linear-gradient(hsla(250, 7%, 27%, 0.3), hsla(250, 7%, 23%, 0.3));
}
meta.document.button.highlighted {
    background: linear-gradient(hsl(240, 7%, 36%), hsl(240, 7%, 32%));
}

meta.document.textfield {
    background-color: hsl(240, 7%, 12%);
    border-color: hsl(240, 7%, 21%);
}
meta.document.textfield.highlighted {
    background-color: hsl(240, 7%, 12%);
    border-color: hsl(240, 7%, 21%);
}

/* Text */
meta.text {
    color: hsla(0, 0%, 100%, 0.85);
}
meta.text.invisible {
    color: hsl(214, 16%, 31%);
}
meta.text.selected {
}

/* Cursor */
meta.cursor {
    background-color: hsl(225, 10%, 15%);
}

/* Indentation Guides */
meta.indentguide {
    border-color: hsla(240, 7%, 50%, 0.2);
}

/* Gutter */
meta.gutter {
    color: hsl(240, 7%, 40%);
}
meta.gutter.selected {
    background-color: hsl(240, 7%, 12%);
    color: hsl(240, 19%, 78%);
}


/*
 * Syntax styles
 */

keyword {
    color: hsl(336, 57%, 63%);
    font-weight: bold;
}
comment {
    color: hsl(210, 11%, 47%);
}
processing {
    color: hsl(25, 98%, 62%);
}
declaration {
    color: hsl(210, 11%, 47%);
}
bracket {
    color: hsla(0, 0%, 100%, 0.85);
}
operator {
    color: hsla(0, 0%, 100%, 0.85);
}
invalid {
    background-color: hsl(5, 96%, 68%);
    color: hsla(0, 0%, 100%, 0.85);
}
link {
    color: hsl(224, 100%, 66%);
}

/* Values */
value.boolean {
    color: hsl(336, 57%, 63%);
    font-weight: bold;
}
value.null {
    color: hsl(336, 57%, 63%);
    font-weight: bold;
}
value.number {
    color: hsl(50, 52%, 61%);
}
value.entity {
    color: hsl(268, 100%, 83%);
}
value.symbol {
    color: hsl(268, 100%, 83%);
}

/* Identifiers */
identifier.type {
    color: hsl(194, 100%, 68%);
}
identifier.constant {
}
identifier.global, identifier.variable {
    color: hsl(166, 36%, 56%);
}
identifier.property,
identifier.decorator,
identifier.function,
identifier.method {
    color: hsl(195, 50%, 50%);
}
identifier.key {
    color: hsl(195, 50%, 50%);
}
identifier.argument {
    color: hsl(268, 100%, 83%);
}

/* Strings */
string {
    color: hsl(5, 96%, 68%);
}
string.key {
    color: hsl(195, 50%, 50%);
}
string-template {
    color: hsl(25, 98%, 62%);
}
string-template.value {
    color: hsl(25, 98%, 62%);
}
regex {
    color: hsl(25, 98%, 62%);
}
regex.escaped {
    color: hsl(25, 98%, 62%);
}
cdata {
    color: hsl(210, 11%, 47%);
}

/* Markup */
markup.heading {
    color: hsl(27, 45%, 54%);
}
markup.line {
    color: hsl(50, 52%, 61%);
}
markup.bold {
    color: hsl(195, 50%, 50%);
    font-weight: bold;
}
markup.italic {
    color: hsl(166, 36%, 56%);
    font-style: italic;
}
markup.strikethrough {
    color: hsl(5, 96%, 68%);
}
markup.list.item {
    color: hsl(27, 45%, 54%);
}
markup.code {
    background-color: rgba(128, 128, 128, 0.2);
}
markup.link {
    color: hsl(224, 100%, 66%);
}

/* Types */
definition.class class.name,
definition.type type.name,
definition.package package.name,
definition.enum enum.name,
definition.union union.name,
definition.struct struct.name {
    color: hsl(194, 100%, 68%);
}

/* Members */
definition.property property.name,
definition.function function.name,
definition.method method.name {
    color: hsl(195, 50%, 50%);
}

/* Tags */
tag {
    color: hsl(195, 50%, 50%);
}
tag.framework {
    color: hsl(25, 98%, 62%);
}
tag.attribute.name {
    color: hsl(194, 100%, 68%);
}
tag.attribute.value {
    color: hsl(5, 96%, 68%);
}
tag.attribute.value.link {
    color: hsl(224, 100%, 66%);
}

/* Styles */
style.at {
    color: hsl(25, 98%, 62%);
}
style.selector.element {
    font-weight: bold;
}
style.selector.identifier.id {
    color: hsl(166, 75%, 78%);
}
style.selector.identifier.class {
    color: hsl(166, 75%, 78%);
}
style.selector.pseudoclass {
    color: hsl(166, 75%, 78%);
}
style.selector.pseudoelement {
    color: hsl(166, 75%, 78%);
}
style.attribute.name {
    color: hsl(166, 36%, 56%);
}
style.value.number {
    color: hsl(50, 52%, 61%);
}
style.value.color.hex {
    color: hsl(50, 52%, 61%);
}
style.value.keyword {
    color: hsl(336, 57%, 63%);
    font-weight: bold;
}
style.value.color.named {
    color: hsl(336, 57%, 63%);
    font-weight: bold;
}
style.value.identifier.function {
    color: hsl(195, 50%, 50%);
}

/* Terminal */
terminal.black {
    color: hsl(0, 0%, 16%);
}
terminal.red {
    color: hsl(5, 96%, 68%);
}
terminal.green {
    color: hsl(95, 36%, 48%);
}
terminal.yellow {
    color: hsl(50, 52%, 61%);
}
terminal.blue {
    color: hsl(195, 50%, 50%);
}
terminal.magenta {
    color: hsl(267, 72%, 65%);
}
terminal.cyan {
    color: hsl(166, 36%, 56%);
}
terminal.white {
    color: hsl(0, 0%, 75%);
}
terminal.bright-black {
    color: hsl(0, 0%, 28%);
}
terminal.bright-red {
    color: hsl(334, 96%, 68%);
}
terminal.bright-green {
    color: hsl(95, 67%, 67%);
}
terminal.bright-yellow {
    color: hsl(25, 98%, 62%);
}
terminal.bright-blue {
    color: hsl(194, 100%, 68%);
}
terminal.bright-magenta {
    color: hsl(268, 100%, 83%);
}
terminal.bright-cyan {
    color: hsl(166, 75%, 78%);
}
terminal.bright-white {
    color: hsl(0, 0%, 97%);
}
